<div class="main">
    <app-header></app-header>
    <section class="content">
        <section class="content__compare-block">
            <div class="content__compare-left">
                <a class="content__compare-link">COMPARE</a>
                <img src="" alt="" />
            </div>
            <div class="content__compare-right">
                <ul>
                    <li><a class="content__compare-link">RANGE</a></li>
                    <li><a class="content__compare-link" (click)="onClick('day')">DAY</a></li>
                    <li><a class="content__compare-link" (click)="onClick('week')">WEEK</a></li>
                    <li><a class="content__compare-link" (click)="onClick('month')">MONTH</a></li>
                </ul>
                <img src="" alt="" />
            </div>
        </section>
        <section class="content__brand-block">
            <div class="content__form-field">
                <label class="content__form-label">Brand</label>
                <select name="brand">
                    <option>Brand1</option>
                </select>
            </div>
            <div class="content__form-field">
                <label class="content__form-label">Brand</label>
                <select name="brand">
                    <option>Brand1></option>
                </select>
            </div>
            <div class="content__form-field">
                <label class="content__form-label">Brand</label>
                <select name="brand">
                    <option>Brand1></option>
                </select>
            </div>
        </section>
        <section class="content__wrap-survey">
            <section class="content__user-details">
                <article class="content__data-details">
                    <h3 class="content__user-heading">DATA USAGE</h3>
                    <span class="content__total-data">Total Data Used</span>
                    <span class="content__data-count">{{dataUsage}} <span>MB</span></span>
                </article>
                <article class="content__data-details">
                    <h3 class="content__user-heading">USERS</h3>
                    <span class="content__total-data">Total Users</span>
                    <span class="content__data-count">{{users}}</span>
                </article>
                <article class="content__data-details">
                    <h3 class="content__user-heading">USER DATA</h3>
                    <span class="content__total-data">Average Per User</span>
                    <span class="content__data-count">{{userData}}<span>MB</span></span>
                </article>
            </section>
            <section class="content__chart-analysis">
                <article class="content__chart-data">
                    <h3 class="content__chart-heading">OPERATING SYSTEM</h3>
                    <span class="content__chart-total">Total <span>{{totalChart}}</span></span>
                    <div class="content__pie-chart" style="display: block">
                        <canvas baseChart
                          [data]="osChartData"
                          [labels]="osChartLabels"
                          [chartType]="osChartType"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                </article>
                <article class="content__chart-data">
                    <h3 class="content__chart-heading">DEVICE TYPE</h3>
                    <span class="content__chart-total">Total <span>{{deviceTypeTotal}}</span></span>
                    <div class="content__pie-chart" style="display: block">
                        <canvas baseChart
                          [data]="deviceChartData"
                          [labels]="deviceChartLabels"
                          [chartType]="deviceChartType"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                </article>
            </section>
            <section class="content__chart-usage">
                <article class="content__bar-chart">

                </article>
            </section>
        </section>
    </section>
</div>
